/*/////////////////////////////////////////////////////
				      Buttons
/////////////////////////////////////////////////////*/

.dotted {
	border: 2px dotted #000;
	color: #000;
	font-size: 16px;
	padding: 12px 20px 12px;

&:hover, &:focus, &:active {
		background: green;
		color: #000;
		border: 2px dotted #000;
	}
}
}