
form.custom{
    margin: 40px 0;
    input, input[type="text"], input[type="email"], textarea, select, a{
      background-color: green;
      font-size: 1.4em;
      padding: 25px;
      outline: none;
    }
    input[type=text]:focus, input[type="email"]:focus, textarea:focus, a:focus {
      box-shadow: 0 0 5px yellow;
    }
    .dropdown{
        height: 64px;
    }
    div.custom.dropdown{
      background-color: green;
      color: #fff;
      border: none;
      a.current{
        background-color: green;
        font-size: 1.4em;
        @include breakpoint(mobile-landscape){
          font-size: 1em;
        }
        @include breakpoint(mobile){
          font-size: 0.8em;
        }
        color: #fff;
        text-transform: uppercase;
        border: none;
        padding: 12px 28px;
      }
      a.selector{
        border: none;
        @include breakpoint(tablet){
          padding: 24px;
        }
        &:after{
          border: solid 8px;
          border-color: #fff transparent transparent transparent;
          margin-top: -6px;
          margin-left: -20px;
        }
        &:focus{
          box-shadow: none;
          border: none;
        }
      }
      &:hover a.selector:after, &:focus a.selector:after, &:active a.selector:after{
        border: solid 8px;
        border-color: gray transparent transparent transparent;
        margin-top: -6px;
        margin-left: -20px;
      }
      ul{
        top: 50px;
        border-color: #fff;
        li{
          background-color: green;
          font-size: 1.4em;
          color: #fff;
          text-transform: uppercase;
          padding: 12px 28px;
          &:hover{
            background-color: #fff;
            color: green;
            &:after{
              content: ""; 
            }
          }
        }
        li.selected{
          background-color: #fff;
          color: green;
          &:after { 
            content: ""; 
          }
          &:hover, &:focus{
            background-color: #fff;
            color: green;
          }
        }
      }
    }
    div.custom.dropdown.open a.selector:after{
        border: solid 8px;
        border-color: #fff transparent transparent transparent;
        margin-top: -6px;
        margin-left: -20px;
    }
    label{
      margin-left: 10px;
      margin-bottom: 12px;
    }
    span.custom.radio.checked:before{
        width: 14px;
        height: 14px;
        background: #61116a;
    }
    span.custom.checkbox.checked:before {
        content: "";
        color: #222222;
        background: #61116a;
    }
    ::-webkit-input-placeholder {
      color: #fff;
      text-transform: uppercase;
       @include breakpoint(mobile-landscape){
        font-size: 0.8em;
      }
      @include breakpoint(mobile){
        font-size: 0.6em;
      }
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #fff;
      text-transform: uppercase;
      @include breakpoint(mobile-landscape){
        font-size: 0.8em;
      }
      @include breakpoint(mobile){
        font-size: 0.6em;
      }
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      color: #fff;
      text-transform: uppercase;
      @include breakpoint(mobile-landscape){
        font-size: 0.8em;
      }
      @include breakpoint(mobile){
        font-size: 0.6em;
      }
    }

    :-ms-input-placeholder {  
      color: #fff;
      text-transform: uppercase;
      @include breakpoint(mobile-landscape){
        font-size: 0.8em;
      }
      @include breakpoint(mobile){
        font-size: 0.6em;
      }
    }
    textarea{
      @include breakpoint(tablet){
        margin-top: 30px;
      }
    }
    input[type="submit"]{
      background-color: transparent;
      text-transform: uppercase;
      width: 100%;
      padding: 15px;
      &:hover, &:focus{
        background: green;
        cursor: pointer;
      }
    }
    .submit{
      position: relative;
      float: right;
      @include breakpoint(tablet){
        float: none;
      }
      span{
        position: absolute;
        top: 22px;
        left: 207px;
        z-index: -1;
        @include breakpoint(desktop){
          display: none;
        }
        @include breakpoint(mobile){
          display: block;
          left: 59px;
        }
      &:before {
        content: "•";
        padding: 0 42px;
        font-size: 1em;
        }
      &:after {
        content: "•";
        padding: 0 42px;
        font-size: 1em;
      }
    }
  }
}

#errors {
    border:solid 1px #E58E8E;
    padding:10px;
    margin:25px 0px;
    display:block;
    width:437px;
    background:#FFE6E6;
    display:none;
}

#errors li {
    padding:2px;
    list-style:none;    
}

#errors li:before {
    content: ' - ';    
}

#errors #info {
    font-weight:bold;
}

#errors #info:before {
    content: '';    
}

#success {
    border:solid 1px #83D186;
    padding:25px 10px;
    margin:25px 0px;
    display:block;
    width:437px;
    background:#D3EDD3;
    font-weight:bold;
    display:none;
}

#errors.visible, #success.visible {
    display:block;    
}
